@import "tailwindcss";

@theme {
  /* Vibrant Palette */
  --color-primary: #f46a1f; /* Orange Vibrant */
  --color-primary-light: #f78104;
  --color-primary-extralight: #faab36;

  --color-secondary: #5646a3;
  --color-secondary-light: #c8bff2;
  --color-secondary-dark: #343779;
  --color-secondary-deep: #454545;

  --color-background: #fffaf5;
  --color-text-main: #001523;

  /* Accent Colors */
  --color-success: #10b981;
  --color-danger: #ef4444;

  /* Typography */
  --font-nunito: var(--font-nunito), sans-serif;
  --font-inter: var(--font-inter), sans-serif;

  /* Default Font Assignments */
  --font-sans: var(--font-inter);
  --font-display: var(--font-nunito);

  /* Shadows for Neumorphism */
  --shadow-neumorphic: 8px 8px 16px #e4e4e7, -8px -8px 16px #ffffff;
  --shadow-neumorphic-sm:
    6px 6px 12px rgba(215, 204, 193, 0.3), -6px -6px 12px #ffffff;
  --shadow-neumorphic-inset:
    inset 8px 8px 16px #e4e4e7, inset -8px -8px 16px #ffffff;
  --shadow-neumorphic-inset-sm:
    inset 4px 4px 8px rgba(215, 204, 193, 0.3), inset -4px -4px 8px #ffffff;

  /* Shadows - Refined and Colored */
  /*  --shadow-neumorphic:
    12px 12px 24px rgba(215, 204, 193, 0.4), -12px -12px 24px #ffffff;
  --shadow-neumorphic-sm:
    6px 6px 12px rgba(215, 204, 193, 0.3), -6px -6px 12px #ffffff;
  --shadow-neumorphic-inset-sm:
    inset 4px 4px 8px rgba(215, 204, 193, 0.3), inset -4px -4px 8px #ffffff; */
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-display {
  font-family: var(--font-nunito);
}

@layer utilities {
  .rounded-tripio {
    border-radius: 1.5rem;
    /* rounded-2xl */
  }

  .shadow-neumorphic {
    box-shadow: var(--shadow-neumorphic);
    transition: all 0.2s ease-in-out;
  }

  .shadow-neumorphic-sm {
    box-shadow: var(--shadow-neumorphic-sm);
    transition: all 0.2s ease-in-out;
  }

  .shadow-neumorphic:active,
  .shadow-neumorphic-inset {
    box-shadow: var(--shadow-neumorphic-inset);
  }
}
